
! special
*.foreground:   #ffffff
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

#URxvt.font: xft:terminus:size=14:style=regular
#URxvt.font: size=14
URxvt.font: -*-gohufont-medium-*-*-*-14-*-*-*-*-*-*-*
URxvt.scrollBar: false

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1d1f21, #1d1f21, #282b2d
rofi.color-normal: #1d1f21, #fbfbfb, #1d1f21, #282b2d, #ffffff
rofi.color-active: #282b2d, #f9f9f9, #282b2d, #282b2d, #ffffff
rofi.color-urgent: #1d1f21, #a54242, #1d1f21, #a54242, #fafafa
rofi.opacity: 90
rofi.padding: 100
rofi.width: 1080
! rofi.font: gohufont
